*{margin: 0; padding: 0;
box-sizing: border-box;}
.headernavBar{
	width: 100%;
	background-image: linear-gradient(to right, #de6262, #ffb88c) ;
}
.navbar-brand{
	color: white!important;
}
.nav-link{
	color: white!important;
}