body, html {
    height:100%;
  }
  
  /*
   * Off Canvas sidebar at medium breakpoint
   * --------------------------------------------------
   */
  @media screen and (max-width: 992px) {
  
    .row-offcanvas {
      position: relative;
      -webkit-transition: all 0.25s ease-out;
      -moz-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
  
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -33%;
    }
  
    .row-offcanvas-left.active {
      left: 33%;
      margin-left: -6px;
    }
  
    .sidebar-offcanvas {
      position: absolute;
      top: 0;
      width: 33%;
      height: 100%;
    }
  }
  
  /*
   * Off Canvas wider at sm breakpoint
   * --------------------------------------------------
   */
  @media screen and (max-width: 34em) {
    .row-offcanvas-left
    .sidebar-offcanvas {
      left: -45%;
    }
  
    .row-offcanvas-left.active {
      left: 45%;
      margin-left: -6px;
    }
    
    .sidebar-offcanvas {
      width: 45%;
    }
  }
  
  .card {
      overflow:hidden;
  }
  
  .card-body .rotate {
      z-index: 8;
      float: right;
      height: 100%;
  }
  
  .card-body .rotate i {
      color: rgba(20, 20, 20, 0.15);
      position: absolute;
      left: 0;
      left: auto;
      right: -10px;
      bottom: 0;
      display: block;
      -webkit-transform: rotate(-44deg);
      -moz-transform: rotate(-44deg);
      -o-transform: rotate(-44deg);
      -ms-transform: rotate(-44deg);
      transform: rotate(-44deg);
  }
  .body1 {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }

.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#4b4c4d;
  margin-top: 30px;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}
.header__cart-icon {
  color: white;
  font-size: 1.3rem;
  margin-top: 9px;
  margin-right: 5px;
  margin-left: 7px;
}
.header__cart-notice {
  position: absolute;
  padding: 0.85px 3.4px;
  background-color: #f10404;
  color: white;
  font-size: 1rem;
  line-height: 1rem;
  border-radius: 10px;
  border: 2px solid #EE4D2D;
  right: -2px;
}


html, body { background: #64ffd6 url("https://codepen.io/images/classy_fabric.png"); }

ul, li { display: block; }

.body {
  left: 50%;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  margin-left: -305px;
}

.body * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.body input { display: none; }

.img-inner {
  top: 0;
  opacity: 0;
  width: 609px;
  height: 405px;
  display: block;
  position: absolute;

  transform: scale(0);
  -moz-transform: scale(0);
  -webkit-transform: scale(0);

  transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -webkit-transition: all .7s ease-in-out;
}

.img-inner img {
  width: 100%;
  height: 100%;
}

.img-inner:nth-of-type(1) {
  /* And... CSS3 image preloading :D */
  background-image:
          url("http://farm9.staticflickr.com/8504/8365873811_d32571df3d_z.jpg"),
          url("http://farm9.staticflickr.com/8068/8250438572_d1a5917072_z.jpg"),
          url("http://farm9.staticflickr.com/8061/8237246833_54d8fa37f0_z.jpg"),
          url("http://farm9.staticflickr.com/8055/8098750623_66292a35c0_z.jpg"),
          url("http://farm9.staticflickr.com/8195/8098750703_797e102da2_z.jpg");
}

.img-inner:hover ~ label.sb-bignav { opacity: 0.5; }

label.sb-bignav:hover { opacity: 1; }


.sb-bignav {
  width: 200px;
  height: 100%;
  display: none;
  position: absolute;

  opacity: 0;
  z-index: 9;
  cursor: pointer;

  transition: opacity .2s;
  -moz-transition: opacity .2s;
  -webkit-transition: opacity .2s;

  color: white;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  font-family: "Varela Round", sans-serif;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

label[title="Next"] { right: 0; }

input:checked + li > .img-inner {
  opacity: 1;

  transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);

  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

input:checked + li > label { display: block; }


/* Credit to https://epicbootstrap.com/snippets/footer-basic */